* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Benguiat";
  src: url(fonts/Benguiat\ Bold.ttf);
}

html,
body {
  overflow-x: hidden !important;
}


body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins";
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 4vw 4vw 4vw;
  position: absolute;
  z-index: 9;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 12px;
  border: none;
  outline: none;
  padding: 16px 0px;
  border-bottom: 1px solid white;
}



@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.08);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#preloader{
  width: 100%;
  height: 100vh;
  background-color: #0c0102;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  svg{
    width: 40vw;
    height: auto;

    path{
      fill: rgba(168, 19, 19, 0.364);
      stroke: rgb(168, 19, 19);
      stroke-dasharray: 640;
      stroke-dashoffset: 640;
    }
  }
}

.logoWhite{
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100px;
}


.btnCity{
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  padding: 16px 0;
  border-bottom: 1px solid white;
  text-decoration: none;
  cursor: pointer;
  animation: pulse 1.2s ease-in-out infinite;
  animation-delay: 4.3s;
  transition: all 0.5s ease-in-out;
  &:hover{
    transform: scale(1.1);
    animation-play-state: paused;
    cursor: pointer;
  }

  img {
    transition: transform 0.3s ease;
  }
  &:hover img {
    transform: rotate(10deg) translateX(6px);
  }

  @media (max-width: 600px) {
   align-self: center;
  }
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}


.bgMonster {
  background-image: url("images/bg-sec2.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  background-color: #0C0102;
}

ul {
  list-style-type: none;
}

.hero {
  background-position: 50% 0%;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;
  position: relative;

  picture{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }

  .leftText,
  .rightText {
    width: 30%;
    z-index: 3;
  }

  .leftText {
    h2 {
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 4px;
      font-family: 'Poppins', sans-serif;
    }
    h1 {
      font-size: 3.7vw;
      font-family: "Benguiat";
    }
  }

  .rightText {
    display: flex;
    flex-direction: column;
    align-items: end;
    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

.hero:before{
  content: "";
  background: linear-gradient(180deg, rgba(12, 1, 2, 0.00) 0%, #0C0102 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.citiesSection {
  flex-direction: column;
  position: relative;

  .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;

    .card {
      background-image: url("images/card1.webp");
      width: 32%;
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 20px;
      cursor: pointer;
      
      /* &:hover{
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.5);
        cursor: pointer;
      } */
    }

    .card:nth-child(2) {
      background-image: url("images/card2.webp");
    }

    .card:nth-child(3) {
      background-image: url("images/card3.webp");
    }
  }
}



.statementsSection {
  flex-direction: column;

  .logotipos {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .statements {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;

    .statement {
      width: 31%;
    }
  }
}

.thankyouStatement {
  flex-direction: column;
  align-items: center;
  padding: 4vw;
  position: relative;
  z-index: 2;
  background-color: #0C0102;

  h2 {
    margin-bottom: 40px;
  }

}

.thankyouList {
  display: flex;
  width: 100%;
  overflow: hidden;
  

  ul {
    display: flex;
    gap: 32px;
    list-style: none;
    padding-right: 4vw;
    animation: thankyouList 15s linear infinite;
    white-space: nowrap;

    li {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 4px;
      color: rgb(191, 191, 191);
      
    }
  }
}
.thankyouList:hover ul{
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes thankyouList{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/bg-footer.webp");
  background-size: cover;
  background-position: center;

  .footerContent {
    display: flex;
    width: 100%;
    padding: 7vw;

    .logoFooter {
      width: 30%;
      h3 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4px;
      }
      h2 {
        font-size: 3.7vw;
        font-family: "Benguiat";
      }
    }

    .footerSections {
      display: flex;
      flex: 1;
      justify-content: end;
      gap: 6%;
      align-items: end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .social {
        ul {
          display: flex;
          gap: 12px;
        }
      }
    }
  }

  .footerLogos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .infiniteText {
    width: max-content;
    display: flex;

    h3 {
      color: rgb(191, 191, 191);
      font-size: 12vw;
      font-family: "Benguiat", sans-serif;
      mix-blend-mode: color-dodge;
      animation: infiniteText 14s infinite linear;
    }

    h3:not(:last-child)::after {
      content: " •";
    
    }
  }
  .infiniteText:hover h3{
    animation-play-state: paused;
    cursor: pointer;
  }

  nav ul li a{
text-decoration: none;  
color:  rgba(255, 255, 255, 0.902); ;
  }
}



@keyframes infiniteText {
  100% {
    transform: translateX(-100%);
  }
}

/* MEDIA QUERIES */

@media (max-width: 1500px) {
  .citiesSection {
    padding: 4vw;
  }
}

@media (max-width: 1400px) {
  .citiesSection .cards .card {
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
}

@media (max-width: 600px) {
  section {
    padding: 4vw;
  }
  h2 {
    font-size: 6vw;
  }

  header h2 {
    font-size: 28px;
  }
  .hero {
    flex-direction: column;
    padding: 26% 4vw 0;

    .leftText,
    .rightText {
      width: 100%;
    }

    .leftText {
      h2,
      h1 {
        text-align: center;
      }

      h1 {
        font-size: 12vw;
      }
    }

    .rightText {
      align-items: start;
      p {
        font-size: 5.5vw;
        text-align: start;
        margin-bottom: 16px;
      }
    }
  }

  .citiesSection {
    margin-top: 80px;
    button {
      display: none;
    }

    .cards {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;

      .card {
        width: 100%;
      }
    }
  }

  .statementsSection {
    .logotipos {
      img:nth-child(1),
      img:nth-child(3) {
        width: 20%;
      }
      img:nth-child(2) {
        width: 40%;
      }
    }

    .statements {
      flex-direction: column;
      gap: 48px;

      .statement {
        width: 100%;
      }
    }
  }

  .thankyouStatement {
    margin: 40px 0px 60px;
    h2 {
      text-align: center;
    }
    ul {
      width: max-content;
      gap: 32px;
    }
  }

  footer {
    padding-top: 40px;
    .footerContent {
      padding: 4vw;
      flex-direction: column;

      .logoFooter {
        width: 100%;

        h2,
        h3 {
          text-align: center;
        }
        h2 {
          font-size: 12vw;
        }
      }

      .footerSections {
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;

        .social {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 40px 0px 32px;
        }

        .institutional {
          width: 40%;
        }

        .partner {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }

    .footerLogos {
      margin-top: 40px;
    }

    .infiniteText h3{
      font-size: 20vw;
    }
  }
}
